@using CL.AdmExpertSys.WEB.Core.Domain.Dto
@model IEnumerable<UsuarioAd>
@{
    ViewBag.Title = "Reporte Cuentas de Usuarios";
    Layout = "~/Views/_Main.cshtml";
}

<div class="row">
    <h1 class="page-header colorOrange col-md-9">Listado cuentas de usuarios AD.</h1>
    <div id="btnSubmit" class="btn btn-primary pull-right btn-sm">
        <span class="glyphicon glyphicon-download"></span>
        <input type="button" value="Descargar" class="btnInput" id="Descargar" />
    </div>
</div>
<div class="row">
    <h2 class="sub-header">Vista de todos las cuentas de usuarios existentes en el AD.</h2>
</div>
<div class="row">
    <table class="table table-hover tablaMantenedores">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cuenta</th>
                <th>Descripción</th>
                <th>Upn</th>
            </tr>
        </thead>
        @foreach (var item in Model.OrderBy(x => x.SamAccountName))
        {
            var item1 = item;
            <tr>
                <td class="textCenter">@Html.DisplayFor(m => item1.Name)</td>
                <td class="textCenter" title="@Html.DisplayFor(m => item1.DistinguishedName)"><a href="#">@Html.DisplayFor(m => item1.SamAccountName)</a></td>
                <td class="textCenter">@Html.DisplayFor(m => item1.Description)</td>
                <td class="textCenter">@Html.DisplayFor(m => item1.UpnPrefijo)</td>
            </tr>
        }
    </table>
</div>
<script src="~/Scripts/Tabla/ConfiguracionTabla.js"></script>
<script src="~/Scripts/Menu/ActivaMenu1.js"></script>
<script>
    $('#RepCtaUsr').addClass('active');
</script>
<script>
$(document).ready(function () {
    $("#btnSubmit").off('click').click(function () {
        monitorDescargaExcel();
        window.location = '@Url.Action("ExportarExcel", "Reportes")?licencia=N&processToken=' + @ViewBag.processToken;
    });
    function monitorDescargaExcel() {
        $("#loading-modal").show();
        var interval = setInterval(function () {
            var cookieValue = $.cookie('processToken');
            if (cookieValue == '@ViewBag.processToken') {
                $("#loading-modal").hide();
                clearInterval(interval);
                $.removeCookie('processToken', { path: '/' });
            }
        }, 1000);
    }
});
</script>

